# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/css/main2.css
/css/video.css
/css/bootstrap.min2.css
/index2.html
